@{
<<<<<<< HEAD
    ViewBag.Title = "Проверка на имейл";
=======
    ViewBag.Title = "Подтверждение почты";
>>>>>>> d198e5d06df4f0db1032d3302f5e1e095185431e
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
<<<<<<< HEAD
        Благодарим Ви, че потвърдихте имейла си. @Html.ActionLink("Кликнете тук, за да влезете.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
=======
        Благодарим за подтверждение электронной почты. @Html.ActionLink("Щелкните здесь для входа", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
>>>>>>> d198e5d06df4f0db1032d3302f5e1e095185431e
    </p>
</div>
