@{
<<<<<<< HEAD
    ViewBag.Title = "ERROR";
=======
    ViewBag.Title = "Ошибка при входе";
>>>>>>> d198e5d06df4f0db1032d3302f5e1e095185431e
}

<hgroup>
    <h2>@ViewBag.Title.</h2>
<<<<<<< HEAD
    <h3 class="text-danger">Неуспешно влизане в системата .</h3>
=======
    <h3 class="text-danger">Не удалось войти через службу.</h3>
>>>>>>> d198e5d06df4f0db1032d3302f5e1e095185431e
</hgroup>
