@{
<<<<<<< HEAD
    ViewBag.Title = "Password reset";
=======
    ViewBag.Title = "Подтверждение сброса пароля";
>>>>>>> d198e5d06df4f0db1032d3302f5e1e095185431e
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
<<<<<<< HEAD
        Ваш пароль сброшен. @Html.ActionLink("Кликнете тук, за да влезете.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
=======
        Ваш пароль сброшен. @Html.ActionLink("Щелкните здесь для входа", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
>>>>>>> d198e5d06df4f0db1032d3302f5e1e095185431e
    </p>
</div>
