@model System.Web.Mvc.HandleErrorInfo

@{
<<<<<<< HEAD
    ViewBag.Title = "Грешка";
}

<h1 class="text-danger">грешка .</h1>
<h2 class="text-danger">При обратката на заявката възникна грешка.</h2>
=======
    ViewBag.Title = "Ошибка";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">При обработке запроса произошла ошибка.</h2>
>>>>>>> d198e5d06df4f0db1032d3302f5e1e095185431e

